
#formulaireConnecte {
    float: right;
    left: 70%;
    position: absolute;
    top: 20%;
    background-color:  #ececeb, opacity: 0.5, filter: alpha(opacity=50); 
}


* {
 margin:0;
 padding:0;
 }

body{
	
	
	
}


#Spirale{
	
	margin-left: 0px;
	size: cover;
	
	
}

.TitrePage

{

    text-align: center;

}

label
{

   	display: block; /* La balise devient de type block. */

    width: 150px;
    
    float: left;

}

#header {
	color: white;
	background-color: rgb(236, 236, 235);
	
	 opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}

#Footer {
	background-color: rgb(236, 236, 235);
}

#CurseurSurfeur {
	cursor: url("../images/surfeur.png"), pointer;
}

#Paragr {
	position: absolute;
	left: 10%;
	width: 40%;
	top: 10%;
	cursor: url(surfeur.png);
	4
	12,
	auto;
}


#back{
	
	width:20%;
	
}

#SpiralCandidat {
	cursor: url("./images/surfeur.png"); 4 12, auto;
	
	 background:url("../images/AUSY_RH_v2.2_no_surfeur_HR.html");
	

	background-repeat: no-repeat;
  background-size:     cover;
	
}