body {
	
	background-color: #cccccc;
	background-image:url("../images/AUSY_RH_v2.2_only_bg_HR.jpg");
	  
}

#content {
	width: 600px;
	margin-left: 100px;
	min-height: 500px;
	width: 60%;
	background-color: #ECECEB;
}


#connexion {
    float: right;
    left: 70%;
    position: absolute;
    top: 20%;
  
   
}

.CouleurRouge
{
	color:red;
}

.CentrerLien
{
	display:block;
	margin: auto;
	width:150px; 
	
}

#formulaire {
 
    background-color:  #ececeb;
   
}

