
	<div id="header">



		<div class="gauche">
			<a href="http://www.ausy.com/fr" title="Accueil" rel="home" id="logo">
				<img src="http://www.ausy.com/sites/all/themes/ausy/logo.png"
				alt="Accueil">
			</a>
		</div>


	</div>
